services:
  database:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: keystone
      MYSQL_USER: keystone
      MYSQL_PASSWORD: password

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5-0
    ports:
      - 18080:8080
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./hack/keycloak-init.sh:/opt/keycloak/keycloak-init.sh
    entrypoint: ["/bin/bash", "/opt/keycloak/keycloak-init.sh"]

  keystone:
    build: .
    ports:
      - 15000:5000
    depends_on:
      - database
      - keycloak
