services:
  database:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: keystone
      MYSQL_USER: keystone
      MYSQL_PASSWORD: password
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5-0
    ports:
      - 18080:8080
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    volumes:
      - ./hack/keycloak-init.sh:/opt/keycloak/keycloak-init.sh
    entrypoint: ["/bin/bash", "/opt/keycloak/keycloak-init.sh"]

  keystone:
    build: .
    ports:
      - 15000:5000
    depends_on:
      database:
        condition: service_healthy
      keycloak:
        condition: service_started
