name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3.7.13
        id: release
        with:
          release-type: python
          package-name: keystone-keycloak-backend
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: ${{ steps.release.outputs.release_created }}
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        if: ${{ steps.release.outputs.release_created }}
      - run: uv build
        if: ${{ steps.release.outputs.release_created }}
      - uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ steps.release.outputs.release_created }}
