name: release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run "release-please"
        uses: google-github-actions/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee # v4.1.1
        id: release
        with:
          release-type: python
          package-name: keystone-keycloak-backend

      - name: Checkout project
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Poetry
        if: ${{ steps.release.outputs.release_created }}
        run: pipx install poetry

      - name: Setup Python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          cache: poetry

      - name: Build package
        if: ${{ steps.release.outputs.release_created }}
        run: poetry build

      - name: Publish package distributions to PyPI
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@release/v1
